.SkillCard {
  /* max-width: 200px; */
  /* max-height: 200px;
  height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: var(--input-bg);
}
.SkillCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.logo {
  color: var(--btn-green);
}